<!DOCTYPE html>
<html>
<head>
<style>
h2 {text-align: center;}
</style>
</head>

<body>
<form method="post">

{%csrf_token %}
<h2><text-align:"center">Add New Test </align></h2>

<table align="center">
<tr><td>select Your Test Category : </td>
    <td><select name="cat">
    <option selected disabled="true">..........select your added test category........</option>
        {% for item in cat %}
       
        <option value="{{item.0}}">{{ item.1 }}</option>
        
        {% endfor %}
          </td></tr></select>
<tr>
<td>Enter Your Test Type :</td>
<td><input type="text" name="type"></td></tr>
<tr><td>Rate : </td>
<td><input type="text" name="rate"></td></tr>

<td><input type="submit" name="save" value="Save"></td></tr>
</table>
</form>
</body>
</html>