<!DOCTYPE html>
<html>
  <script type="text/javascript">
    function selectAll(){
      var items=document.getElementsByName('acs');
      for(var i=0; i<items.length; i++){
        if(items[i].type=='checkbox')
          items[i].checked=true;
         
      }
      
    }
    </script>
  <head>
<style>
  
  tr,th{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    width: 30%;
  }
  tr {
    height: 14%;
  }
  h1{
    text-align: center;
  }
  butn{
    margin-top: 50px 60px;
    margin-left: 550px;
    margin-bottom: 600%;
  }
  butn2{
    margin-top: 50px 60px;
    margin-left: 650px;
    margin-bottom: 600%;
  }
</style>
</head>
<body>
<form method="post">
{% csrf_token %}

<h1><b>Booking</h1></b>
<butn>
<select name="cat" > 
  <option selected disabled="true">..........select your test category........</option>
      {% for item in cat1 %}
      <option value="{{item.0}}">{{ item.3 }}</option>
      {% endfor %}
     
    </select>
    <input type="date" name="date">
    <input type="submit" name="ok" value="ok" >
  </butn>
  
<table align="center" border="1" >
<tr>
          <td><b>Type</b></td><td><b>Rate</b></td>
         <td><input type="button" name="sub1" value="select all"  onclick='selectAll()'></td></tr>
          <tr>
           
            {% for item in cat2 %}
            <td>{{ item.4}}</td>
            <td>{{ item.5}}</td>
            <td><input type="checkbox" name="acs" value="">  <br>
             
              </td>
          </tr>
          
            {% endfor %}
            </table>
<butn2>
  <!--<input type="submit" name="sub2" value="Submit">-->
    <input type="button" name="sub1" value="submit"></a>
    </butn2>
</form>
</body>
</html>
