<!DOCTYPE html>
<html>
<style>
div {
  background-color: white;
  width: 300px;
  border: 2px solid black;
  padding: 50px;
  margin-left:500px;
  margin-top: 200px;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>
<body >
    <form method="post">
            {%csrf_token %}
        
   
    <div>
      
      <p>Do you wnat to delete your account ? {{email}} </p>
        <center>
        <input type="submit"  name="yes" value="yes">
        <input type="submit"  name="no" value="no">
      </center>
    </div>
    </form>
</body>
</html>