<!DOCTYPE html>
<html>
  
<style>
div {
  background-color: rgb(173, 166, 164);
  width: 200px;
  border: 4px solid rgb(17, 18, 19);
  padding: 30px;
  margin-left:500px;
  margin-top: 200px;
}
.center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

</style>
<body >
  <!--<form onsubmit="myFunction()" method="POST">
   <form method="post" onsubmit="return confirm('deleted')">-->
    <form method="POST">
            {%csrf_token %}
        
          
    <div>
      
      <p><center>Do you want to delete your account ? </center> </p>
      <center>
        
        <input type="submit"  name="yes" value="yes" onclick="myalert()">
        <input type="submit"  name="no" value="no" >
        
      </center>
    </div>
  
  <script> 
    function myalert() { 
        alert("Deleted"); 
    } 
    function myalert2() { 
        alert("not deleted"); 
    } 
</script> 
</form>
    <!--<script>
      function myFunction() {
        alert("deleted");
      }
      </script>-->
</body>
</html>