<!DOCTYPE html>
<html>

<style>
  
  tr,th{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    width: 30%;
  }
  tr {
    height: 14%;
  }
  h1{
    text-align: center;
  }
  butn{
    margin-top: 50px 60px;
    margin-left: 550px;
    margin-bottom: 600%;
  }
  butn2{
    margin-top: 50px 60px;
    margin-left: 650px;
    margin-bottom: 600%;
  }
</style>

<body>
<form method="post">
{%csrf_token %}

<h1><b>View Lab Tests</h1></b>
<butn>
<select name="cat" > 
  <option selected disabled="true">..........select your test category........</option>
      {% for item in cat %}
      <option value="{{item.0}}">{{ item.3 }}</option>
      {% endfor %}
     
    </select>
    
    <input type="submit" name="ok" value="ok" >
  </butn>
 
<table align="center" border="1" >
<tr>
     
  <td><b>Type</b></td><td><b>Rate</b></td>
         </tr>
          <tr>
           
            {% for item in cat1 %}
            <td>{{ item.0}}</td>
            <td>{{ item.1}}</td>
            <td>{{ item.2}}</td>
            <td>{{ item.3}}</td>
            </tr>
          
            {% endfor %}
            
             
</table>

</form>
</body>

</html>
